body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #e1e1e1, #0ee8e8);
  margin: 0;
}

/* CONTAINER */
.container {
  padding: 20px;
  text-align: center;
}

/* LOGIN */
.login-box {
  background: white;
  padding: 25px;
  margin: 80px auto;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* INPUT */
input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* BUTTON */
button {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: #74ebd5;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #4facfe;
}

/* GALLERY */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* IMAGE */
.card img {
  width: 100%;
  border-radius: 10px;
}

/* TITLE */
.card p {
  font-weight: bold;
  color: purple;
}